.excluded-file-container {
    display: flex;
    flex-direction: column;
}

.excluded-directory-container {
    display: flex;
    flex-direction: column;
}

.excluded-directory {
    flex: 1;
}

.excluded-file {
    flex: 1;
}

.advanced-options {
    display: none;
}